
.landing {
    width: 100%;
    height: calc(100vh - 10px);
}
.landing  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--colorWhite);
}
.overlay{
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgb(0, 0, 0,.5);
}
.content--title span{
    color: var(--colorYellow);
}
.content h1{
    font-size: 56px;
}
.content button{
    padding:  20px 40px;
    border-radius: 30px ;
    background-color: var(--colorYellow);
    border: none;
    transition: 0.3s all ease-in-out;
}
 button a{
    color: rgb(0, 0, 0,.8);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.content button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.content--title h2{
    font-size: 56px;
}
.content--description{
    width: 50%;
    text-align: center;
    font-weight: 300;
    font-size: 25px; 
    line-height: 1.3;
    color: var(--colorThree);
    margin-top: 0;
}
.content--description p {
    margin-top: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 650px) {
    .content--title h2{
        font-size: 30px;
        margin: 40px 0;
    }
    .content h1{
        font-size: 40px;
    }
    .content--description{
        font-size: 20px;
    }
  }